body {
  font-family: 'Segoe UI', sans-serif;
  background: #f9fbfe;
  color: #1a1a1a;
  margin: 0;
  padding: 0;
  text-align: center;
}
header {
  background-color: #1098f7;
  color: white;
  padding: 20px 0;
}
.logo {
  width: 60px;
}
main {
  padding: 20px;
}
input, textarea {
  padding: 10px;
  margin: 8px;
  width: 80%;
  max-width: 400px;
}
button {
  background-color: #3b28cc;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 6px;
}
button:hover {
  background-color: #282b28;
}
video {
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
  border-radius: 12px;
  border: 2px solid #1098f7;
}
